.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}

.mat-form-field {
  margin-right: 30px;
}

.header-num{
  align-self: center;
  padding-right: 30px;
}
