<div #plate [style.width.px]="plateInfo.plateWidth" class="plate plate-main">
  <div class="plate-head">
    <img src="assets/img/plate/header3.jpg" alt="" />
  </div>
  <div class="plate-picture">
    <img [src]="plateInfo.image" alt="" />
  </div>
  <div class="plate-footer-wrap">
    <div class="plate-footer">
      <div class="plate-footer-header">
        สถาบันพลังจิตตานุภาพสาขา 8 อาคารไอทาวเวอร์<br />ขอขอบคุณ<br />
        อาจาริยสาผู้นำเสนอการบรรยาย<br />สมเด็จพระญาณวชิโรดม (วิริยังค์
        สิรินฺธโร)
      </div>
      <div>หัวข้อ {{ plateInfo.title }}</div>
      <div>นำเสนอการบรรยายโดย {{ plateInfo.teacherName }}</div>
      <div>{{ plateInfo.date.toString() | thaidate : "full" }}</div>
    </div>
  </div>
</div>

<div
  #plateDummy
  [style.width.px]="plateInfo.plateWidth"
  class="plate plate-dummy"
>
  <div class="plate-head">
    <img src="assets/img/plate/header3.jpg" alt="" />
  </div>
  <div class="plate-picture">
    <img [src]="plateInfo.image" alt="" />
  </div>
  <div class="plate-footer-wrap">
    <div class="plate-footer">
      <div class="plate-footer-header">
        สถาบันพลังจิตตานุภาพสาขา 8 อาคารไอทาวเวอร์<br />ขอขอบคุณ<br />
        อาจาริยสาผู้นำเสนอการบรรยาย<br />สมเด็จพระญาณวชิโรดม (วิริยังค์
        สิรินฺธโร)
      </div>
      <div>หัวข้อ {{ plateInfo.title }}</div>
      <div>นำเสนอการบรรยายโดย {{ plateInfo.teacherName }}</div>
      <div>{{ plateInfo.date.toString() | thaidate : "full" }}</div>
    </div>
  </div>
</div>

<div class="plate-button">
  <div class="plate-download">
    <button (click)="downloadImage()" mat-raised-button color="primary">
      Download
    </button>
    <img class="canvas" #canvas />
    <a #downloadLink></a>
  </div>
</div>
