.plate {
  position: relative;
  width: 100%;

  margin: 0 auto;
  font-family: rsuregular, Tahoma;

  .plate-head {
    z-index: 0;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .plate-picture {
    position: relative;
    text-align: center;

    .plate-picture-image {
      overflow: hidden;
      height: auto;
    }

    .plate-block {
      position: absolute;
      background: white;
      height: 100%;
      top: 0;
      z-index: 3;
    }

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  .plate-footer-wrap {
    position: relative;
    z-index: 5;
    background: #1171c5;
  }

  .plate-footer {
    text-align: center;
    color: white;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  .plate-footer-header {
    padding-bottom: 10px;
  }
}

.plate-download{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
  position: relative;

  .canvas {
    display: none;
  }

  button {
    margin: 0 10px 0 10px;
  }
}

.plate-dummy {
  position: fixed;
  top: 0;
  left: -3000px;
}

@media (max-width: 763px) {
  .plate-main {
    display: none;
  }
}
