
.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .samathi-nav {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid black;

    button {
      font-size: 1.4em;
    }

    button.active {
      text-decoration: underline;
      font-weight: bold;
    }

    .samathi-nav-logout {
      margin-left: auto;
    }
  }

  .main {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
  }
}



