<div *ngIf="loadingSerivce.isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <nav class="samathi-nav">
    <button routerLink="/plate" routerLinkActive="active" mat-button>
      ป้ายชื่ออาจารย์
    </button>
    <button routerLink="/studentPlate" routerLinkActive="active" mat-button>
      ป้ายชื่อนักเรียน
    </button>
    <button routerLink="/mentorPlate" routerLinkActive="active" mat-button>
      ป้ายชื่อพี่เลี้ยง
    </button>
    <button routerLink="/teacher" routerLinkActive="active" mat-button>
      อาจารย์
    </button>
    <button
      routerLink="/schedule-management"
      routerLinkActive="active"
      mat-button
    >
      ตารางสอน
    </button>
    <button routerLink="/upload" routerLinkActive="active" mat-button>
      อัพโหลด
    </button>
    <button (click)="logout()" class="samathi-nav-logout" mat-button>
      ออกจากระบบ
    </button>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
