<div *ngIf="loadingStack && loadingStack.length > 0" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <nav class="samathi-nav">
    <button routerLink="/plate" routerLinkActive="active" mat-button>
      ป้ายชื่ออาจารย์
    </button>
    <button routerLink="/plate2" routerLinkActive="active" mat-button>
      ป้ายชื่ออาจารย์ 2
    </button>
    <button routerLink="/studentPlate" routerLinkActive="active" mat-button>
      บัตรนักศึกษา
    </button>
    <button routerLink="/mentorPlate" routerLinkActive="active" mat-button>
      ป้ายชื่อแนะนำตัว
    </button>
    <button routerLink="/tudongPlate" routerLinkActive="active" mat-button>
      บัตรมินิธุดงค์
    </button>
    <button routerLink="/teacher" routerLinkActive="active" mat-button>
      อาจารย์
    </button>
    <button routerLink="/schedule" routerLinkActive="active" mat-button>
      ตารางสอน
    </button>
    <button routerLink="/upload" routerLinkActive="active" mat-button>
      อัพโหลด
    </button>
    <button (click)="logout()" class="samathi-nav-logout" mat-button>
      ออกจากระบบ
    </button>
  </nav>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
