<div>
  <form style="padding-left: 40px; font-size: 13px" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>ชื่อรุ่น</mat-label>
      <input
        [(ngModel)]="version"
        matInput
        placeholder="ชื่อรุ่น"
        type="text"
        formControlName="version"
      />
    </mat-form-field>
  </form>
</div>
<div>
  <div *ngFor="let student of students; index as i">
    <app-student-item
      [version]="version"
      [student]="student"
      [index]="i"
    ></app-student-item>
  </div>
</div>
<div class="container-button">
  <button (click)="onAddStudent()" mat-raised-button color="primary">
    เพิ่ม
  </button>
  <button
    [useExistingCss]="true"
    printSectionId="print-section"
    mat-raised-button
    color="accent"
    ngxPrint
  >
    print
  </button>
</div>
<div id="print-section" class="print-container">
  <div class="card-container" *ngFor="let student of students">
    <app-studen-card [version]="version" [student]="student"></app-studen-card>
  </div>
  <div style="clear: both"></div>
</div>
