<h1 mat-dialog-title>Edit Schedule</h1>
<div mat-dialog-content>
  <form [formGroup]="scheduleForm">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Pick one"
        matInput
        formControlName="teacherFilter"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <!-- <mat-option *ngFor="let teacher of teachers | async" [value]="teacher">
          {{ teacher.fullName }}
        </mat-option> -->
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
