<div>
  <form style="padding-left: 40px; font-size: 13px" [formGroup]="form">
    <mat-form-field appearance="outline" style="margin-right: 30px">
      <mat-label>รุ่น</mat-label>
      <input
        [(ngModel)]="version"
        matInput
        placeholder="รุ่น"
        type="text"
        formControlName="version"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>ชื่อรุ่น</mat-label>
      <input
        [(ngModel)]="versionDetail"
        matInput
        placeholder="ชื่อรุ่น"
        type="text"
        formControlName="versionDetail"
      />
    </mat-form-field>
  </form>
</div>
<div>
  <div *ngFor="let mentor of mentors; index as i">
    <app-mentor-item
      [version]="version"
      [versionDetail]="versionDetail"
      [mentor]="mentor"
      [index]="i"
    ></app-mentor-item>
  </div>
</div>
<div class="container-button">
  <button (click)="onAddMentor()" mat-raised-button color="primary">
    เพิ่ม
  </button>
  <button
    [useExistingCss]="true"
    printSectionId="print-section"
    mat-raised-button
    color="accent"
    ngxPrint
  >
    print
  </button>
</div>
<div id="print-section" class="print-container">
  <div class="card-container" *ngFor="let mentor of mentors">
    <app-mentor-card [version]="version" [mentor]="mentor"></app-mentor-card>
  </div>
  <div style="clear: both"></div>
</div>
